.shopping-list-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shopping-list-items {
  border-top: 1px solid lightgray;
  margin: 14px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
